body{
    background-color: black;
    color: white;
}
.container{ 
    max-width: 1280px;
    margin: auto;
    margin-top: 100px;
    
}
.row{
    display: flex;
}
.column-mot{
    width: 55%;
    margin-left: 100px;
}
.column-hai{
    width: 45%;
}
.gioHang-mini{
    margin-right: 125px;
    border: 2px solid orangered;
    height: 450px;
    padding: 30px;
}
table {
    color: white;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 27px;
  }
  td, th {
    border: 2px solid orangered;
    text-align: center;
    padding: 8px;
  }
.imagePreview{
    height: 50px;
}

.form-control label{
    display: inline-block;
    width: 200px;
    margin-bottom: 20px;
    
}
.form-control input{
    height: 30px;
    font-size: 18px;
    outline: none;
    padding-left: 3px;
    
}
.form-control select{
    outline: none;
    height: 30px ;
    font-size: 18px;
}
.form-control textarea{
    font-size: 16px;
    padding-left: 3px;
    outline: none;
}
.billTotal{
    text-align: right;
    margin-top: 20px;
}
.addProduct{
    margin-top: 25px;
}
.addProduct a{

    color: white;
    border: 2px solid rgb(255, 102, 0);
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
  }
  .addProduct a:hover{
    color: orange;
    border: 2px solid rgb(255, 51, 0);
  }
h2{
    color: white;
    margin-bottom: 30px;
}

.hoaDon h2{
    text-align: center;
}
.tieuDe-sanPham{
    display: flex;
    margin-bottom: 30px;
}
.ve-phai{
  margin-left: 180px;  
}
.san-pham{
    display: flex;
}
.gia-tien p{
    font-size: 13px;
    margin-left: 65px;
}
.dat-hang{
    margin-top: 20px;
    border: 1px solid rgb(255, 102, 0);
    width: 150px;
    height: 50px;
    padding-left: 20px;
    padding-top: 10px;
}
.dat-hang:hover{
        border: 1px solid rgb(255, 51, 0);
}
.dat-hang a{
    text-decoration: none;
    color: white;
    font-size: 27px;
}
.dat-hang a:hover{
    color: orange;
}
.final{
    margin-top: 160px;
}
#tong-cong{
    margin-top: 5px;
}

footer{
    margin-top: 210px;
}